{
    "useTabs": true,
    "singleQuote": true,
    "semi": true,
    "plugins": [
        "eslint-config-prettier",
        "eslint-config-standard-with-typescript",
        "eslint-plugin-adonis"

    ]  
}